.footer{
    height: 40px;
    width: 100%;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    position: fixed;
    bottom: 0px;
}
.footer p{
    color: black;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 500;
}