@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
.sidenav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 228, 214);
    height:80%;
    width: 200px;
    position: fixed;
    left: 0px;
    top: 120px;
    bottom: 120px;
    gap: 80px;
}
.sidenav li{
    font-size: 22px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Dancing Script';
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 900;
    border-radius: 50px ;
    border:none;
    height: 40px;
    width: 140px;
    color: rgb(0, 0, 0);
    z-index: 1010;
}

.link{
    text-decoration: none;
    color: black;
}